/data_users_moves/
link_prediction/AA_best_indegree.txt
link_prediction/AA_best_out.txt
link_prediction/AA_worst_in_degree.txt
link_prediction/AA_worst_out_degree.txt
link_prediction/CommonNeighbors_best_in_degree.txt
link_prediction/CommonNeighbors_best_out_degree.txt
link_prediction/CommonNeighbors_worst_in_degree.txt
link_prediction/CommonNeighbors_worst_out_degree.txt
link_prediction/nx_lp_AA.txt
link_prediction/nx_lp_CN_community.txt
link_prediction/nx_lp_JC.txt
link_prediction/nx_lp_PA.txt
link_prediction/nx_lp_RA_community.txt
link_prediction/nx_lp_RA.txt
link_prediction/Preferential_best_in_degree.txt
link_prediction/Preferential_best_out_degree.txt
link_prediction/Preferential_worst_in_degree.txt
link_prediction/Preferential_worst_out_degree.txt
link_prediction/ResourceAllocation_best_in_degree.txt
link_prediction/ResourceAllocation_best_out_degree.txt
link_prediction/ResourceAllocation_worst_in_degree.txt
link_prediction/ResourceAllocation_worst_out_degree.txt
link_prediction/sameCommunity_best_in_degree.txt
link_prediction/sameCommunity_best_out_degree.txt
link_prediction/sameCommunity_worst_in_degree.txt
link_prediction/sameCommunity_worst_out_degree.txt
link_prediction/totalNeighbors_best_in_degree.txt
link_prediction/totalNeighbors_best_out_degree.txt
link_prediction/totalNeighbors_worst_in_degree.txt
link_prediction/totalNeighbors_worst_out_degree.txt